body {
    min-height: 100vh;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

@media (min-width: 450px) {
    body {
        justify-content: flex-start;
    }
}
